<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quote App with API and Vue.js</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="app">
        <header>
            <h1>Quote App <span>📌</span></h1>
            <button @click="getQuote()">Get New Quote</button>
        </header>
        <main>
            <div class="card">
                <div id="quote-wrapper">
                    <p v-if="checkIfEmpty">{{ defaultQuote }}</p>
                    <p v-else>{{ randomQuote }}</p>
                </div>
                <div id="author-wrapper">
                    <p v-if="checkIfEmpty">- {{ defaultAuthor }}</p>
                    <p v-else>{{ randomAuthor }}</p>
                </div>
            </div>
        </main>
    </div>
    <script src="vue.js"></script>
    <script src="script.js"></script>
</body>

</html>